<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [disabled]="!logged"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #loginForm="ngForm" (ngSubmit)="loginUser()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" inputmode="email" autocomplete="on" [(ngModel)]="user.email" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" autocomplete="on" [(ngModel)]="user.password" required>
        </ion-input>
      </ion-item>
    </ion-list>
    <p>
      <ion-button type="submit" color="primary" expand="block" [disabled]="loginForm.invalid">Login</ion-button>
    </p>
  </form>

  <ion-button expand="block" fill="outline" routerLink="/register">Create account</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button appGoogleLogin expand="block" (click)="login()">
          <ion-icon name="logo-google"></ion-icon>
          Login Google
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button appFbLogin expand="block" (click)="loginFB()">
          <ion-icon name="logo-facebook"></ion-icon>
          Login facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
