<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events/list"></ion-back-button>
    </ion-buttons>
    <ion-title>event-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="event.image" />
    <ion-card-header>
      <ion-card-title>{{event.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>{{event.description}}</ion-row>
      <ion-row>
        <ion-button color="danger" (click)="presentAlert(event)" *ngIf="event.mine">Delete</ion-button>
        <ion-col>
          <ion-row>
            <ion-col>
              <div class="ion-text-end">
                <ion-icon name="people"></ion-icon>{{event.numAttend}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="event.attend" class="ion-text-end" (click)="deleteAttend(event)">
                <ion-icon name="thumbs-up" color="success"></ion-icon>
                <ion-label color="success">I'm going</ion-label>
              </div>
              <div *ngIf="!event.attend" class="ion-text-end" (click)="updateAttend(event)">
                <ion-icon name="thumbs-down" color="danger"></ion-icon>
                <ion-label color="danger">Not going</ion-label>
              </div>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center card-footer">
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="event.creator.avatar" />
          </ion-avatar>
        </ion-col>
        <ion-col class="name">

          <a [routerLink]="['/profile', event.creator.id]">
            {{event.creator.name}}
          </a>
          <p>{{formatDate(event.date)}}</p>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <p>{{event.price | currency: 'EUR':'symbol'}}</p>
            <p>{{event.distance | number}} km</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
