<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
    <ion-title>event-location</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar debounce="500" (ionChange)="filterItems($event)">
  </ion-searchbar> -->
  <!-- <ion-list>
    <ion-item *ngFor="let item of filteredItems">{{item}}</ion-item>
  </ion-list> -->

  <h4 class="card-title">
    {{ event.address }}
  </h4>

  <div id="mapa-mapbox"></div>







  <!-- <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[14]" [center]="[13, 13]">
    <mgl-marker #marker [lngLat]="[13, 13]"></mgl-marker>
    <mgl-popup [marker]="marker">
      You are here
    </mgl-popup>
  </mgl-map> -->

</ion-content>
